<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hotel_v2.Properties.Settings.hotel_v2ConnectionString"
            connectionString="Data Source=FPC-03\SQLEXPRESS;Initial Catalog=hotel-v2;Integrated Security=True;TrustServerCertificate=True;Column Encryption Setting=Enabled"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>